﻿@model DA2.Web.Models.LoginModel

<section class="section sign-in inner-right-xs">
    <h2 class="bordered">Khách hàng cũ</h2>
    @using (Html.BeginForm("Login", null, FormMethod.Post, new { @class = "register-form cf-style-1" }))
    {
        @Html.AntiForgeryToken()
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationMessage("loginError")
            </div>
        }
        <div class="field-row">
            @Html.LabelFor(model => model.emailLogin)
            @Html.EditorFor(model => model.emailLogin, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.emailLogin, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="field-row">
            @Html.LabelFor(model => model.passwordLogin)
            @Html.EditorFor(model => model.passwordLogin, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.passwordLogin, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="buttons-holder">
            <button type="submit" class="le-button huge">Đăng nhập</button>
        </div><!-- /.buttons-holder -->
    }
</section><!-- /.sign-in -->
