﻿@model DA2.Web.Models.RegisterModel

<section class="section register inner-left-xs">
    <h2 class="bordered">Khách hàng mới</h2>
    <p>Bằng cách tạo tài khoản bạn có thể mua sắm nhanh hơn, cập nhật tình trạng đơn hàng, theo dõi những đơn hàng đã đặt và đặc biệt là sẽ được hưởng nhiều chương trình ưu đãi!</p>
    <h4 class="text-success">@ViewBag.Success</h4>
    @using (Html.BeginForm("Register", null, FormMethod.Post, new { @class = "register-form cf-style-1" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger"})
        
        <div class="field-row">
            @Html.LabelFor(model => model.email)
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="field-row">
            @Html.LabelFor(model => model.password)
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="field-row">
            @Html.LabelFor(model => model.confirmPassword)
            @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="field-row">
            @Html.LabelFor(model => model.name)
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="field-row">
            @Html.LabelFor(model => model.tel)
            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="field-row">
            @Html.LabelFor(model => model.address)
            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "le-input" } })
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
        </div><!-- /.field-row -->
        <div class="buttons-holder">
            <button type="submit" class="le-button huge">Đăng kí</button>
        </div><!-- /.buttons-holder -->
    }
</section><!-- /.register -->
