﻿@using PagedList.Mvc
@model PagedList.IPagedList<DA2.Data.Model.PRODUCT>

<div class="tab-content">
    <div id="grid-view" class="products-grid fade tab-pane in active">

        <div class="product-grid-holder">
            <div class="row no-margin">
                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-4 no-margin product-item-holder hover">
                        <div class="product-item">
                            <div class="ribbon red"><span>HOT!</span></div>
                            <a href="@Url.Action("Index", "SanPham", new { @aliasSP = item.alias })">
                                <div class="image">
                                    <img alt="" src="~/assets/client/image1/ajax.gif" data-echo="/ProductImages/@item.image" />
                                </div>
                            </a>
                            <div class="body">
                                <div class="title">
                                    <a href="@Url.Action("Index", "SanPham", new { @aliasSP = item.alias })">@item.name</a>
                                </div>
                                <div class="brand">@item.BRAND.name</div>
                            </div>
                            <div class="prices">
                                <div class="price-current text-center">@item.price.GetValueOrDefault().ToString("N0")đ</div>
                            </div>
                            <div class="hover-area">
                                <div class="add-cart-button">
                                    @if (item.stock == 0)
                                    {

                                        <a href="#" class="le-button btn-het-hang">Tạm hết hàng</a>
                                    }
                                    else
                                    {
                                        <a href="/them-gio-hang?productId=@item.id&quantity=1" class="le-button">Thêm Giỏ Hàng</a>
                                    }
                                </div>
                            </div>
                        </div><!-- /.product-item -->
                    </div><!-- /.product-item-holder -->
                }

            </div><!-- /.row -->
        </div><!-- /.product-grid-holder -->
        <div class="pagination-holder">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-left">
                    <ul class="pagination ">
                        @Html.PagedListPager(Model, page => Url.Action("GetPaging", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "gaming" }))
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="result-counter">
                        Trang <span>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</span> / <span>@Model.PageCount</span>
                    </div><!-- /.result-counter -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.pagination-holder -->
    </div><!-- /.products-grid #grid-view -->
</div><!-- /.tab-content -->
