﻿@model DA2.Data.Model.BILLITEM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BILLITEM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BILL.nguoi_nhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILL.nguoi_nhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
