﻿@model IEnumerable<DA2.Data.Model.BILLITEM>

@{
    ViewBag.Title = "Danh mục Sản phẩm hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<article class="content static-tables-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-10">
                <h1 class="title"> @ViewBag.Title </h1>
                <p class="title-description"> Danh sách các sản phẩm của hóa đơn </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <section class="example">
                    <div class="table-responsive">
                        <table id="table-data" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Mã hóa đơn</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @*<td>
                                                <strong class="text-danger">@item.name</strong><br />
                                            </td>*@
                                        <td>@item.bill_id</td><td>
                                            <strong class="text-danger">@item.PRODUCT.name</strong><br />
                                         </td>

                                        <td>@item.quantity cái</td>
                                        <td>@item.price VNĐ</td>
                                    </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>
