﻿@model List<DA2.Web.Models.CartItem>

<div class="top-cart-holder dropdown animate-dropdown">
    <div class="basket">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class="basket-item-count">
                <span class="count">@Model.Count()</span>
                <img src="~/assets/client/image1/icon-cart.png" alt="" />
            </div>
            <div class="total-price-basket">
                <span class="lbl"><b>Giỏ hàng của bạn</b> <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span class="total-price">
                    <span class="value">@(Model.Sum(x => x.Product.price * x.Quantity).GetValueOrDefault(0).ToString("N0"))</span> <span class="sign">đ</span>
                </span>
            </div>
        </a>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li>
                    <div class="basket-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin text-center">
                                <div class="thumb">
                                    <img alt="" src="/ProductImages/@item.Product.image" />
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <div class="title">@item.Product.name</div>
                                <div class="price">@item.Product.price.GetValueOrDefault(0).ToString("N0")đ x @item.Quantity</div>
                            </div>
                        </div>
                    </div>
                </li>
            }
            
            <li class="checkout">
                <div class="basket-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <a href="/Cart" class="btn-dat-hang le-button">Xem giỏ hàng và thanh toán <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- /.basket -->
</div><!-- /.top-cart-holder -->
