﻿
@{
    ViewBag.Title = "Đặt đơn hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Kảm ơn!</h1><br/>
    <p class="lead"><strong>Bạn dã dặt dơn hàq wàn' kôq!</strong> N'ân viên sẽ liên hệ với bạn sớm n'ất dể xák n'ận dơn hàq này.
</p>
    <i class="fa fa-heart"></i>
    <small>
        Bạn có thể theo dõi đơn hàng tại <a href="">Lịch sử đặt hàng</a>
    </small>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Tiếp tục mua sắm</a>
    </p>
</div>

