﻿@model IEnumerable<DA2.Data.Model.BILL>

@{
    ViewBag.Title = "Danh mục Hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<article class="content static-tables-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-10">
                <h1 class="title"> @ViewBag.Title </h1>
                <p class="title-description"> Danh sách các hóa đơn của cửa hàng </p>
            </div>
            @*<div class="col-md-2">
                    <a href="@Url.Action("Create")" class="btn btn-lg btn-info">Thêm mới <i class="fa fa-plus-circle"></i></a>
                </div>*@
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">    
                <section class="example">
                    <div class="table-responsive">
                        <table id="table-data" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ngày tạo</th>
                                    <th>Khách hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Người nhận</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Tình trạng</th>
                                    <th><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        @*<td>
                                                <strong class="text-danger">@item.name</strong><br />
                                            </td>*@
                                        <td>@item.created</td>
                                        <td>@item.CUSTOMER.name</td>

                                        <td>@item.amount VNĐ</td>
                                        <td>@item.nguoi_nhan</td>
                                        <td>@item.dia_chi</td>
                                        <td>@item.so_dt</td>
                                        <td>
                                            @{
                                    var tt = item.status;
                                    if (tt == 0)
                                    {
                                        <p class="btn btn-oval btn-secondary">Mới đặt hàng</p>
                                    }
                                    else if (tt == 1)
                                    {
                                        <p class="btn btn-oval btn-info">Đã xác nhận</p>
                                    }
                                    else if (tt == 2)
                                    {
                                        <p class="btn btn-oval btn-success">Đã giao hàng</p>
                                    }
                                    else
                                    {
                                        <p class="btn btn-oval btn-danger">Hủy đơn hàng</p>
                                    }
                                            }
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="/Admin/BillItem/Index/@item.id" class="btn btn-info btn-sm">Xem<i class="fa fa-external-link" aria-hidden="true"></i></a>
                                                @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
                                                {
                                                    using (Html.BeginForm("Confirm", null, new { @id = @item.id }, FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        <input type="hidden" name="status" value="0" class="status1" />
                                                        <a href="#" class="btn btn-danger btn-sm" id="btnConfirm" data-toggle="modal" data-target="#confirmBill">Cập nhật</a>
                                                    }
                                                }
                                                
                                                
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>

@section js{
    <div class="modal fade" id="confirmBill" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title"><strong>Cập nhật trạng thái hóa đơn</strong></h4>
                </div>
                <div class="modal-body">
                    <select class="status-select">
                        <option value="0">Mới đặt hàng</option>
                        <option value="1">Xác nhận đặt hàng</option>
                        <option value="2">Đã giao hàng</option>
                        <option value="3">Hủy đơn hàng</option>
                    </select>
                </div><!-- /.modal-body -->
                <div class="modal-footer">
                    <button type="button" value="Xác nhận" class="btn btn-danger" id="confirm">Xác nhận</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(function () {
            $('.status-select').on('change', function () {
                $('.status1').val($(this).val());
            });
        });
    </script>
}