﻿@using DA2.Web.Common

<nav class="top-bar animate-dropdown">
    <div class="container">
        <div class="col-xs-12 col-sm-6 no-margin">
            <ul>
                <li><a href="/" class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Trở lại trang chính"><strong><i class="fa fa-star" aria-hidden="true"></i> Cửa hàng</strong></a></li>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div><!-- /.col -->
        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="right">
                @{
                    var session = (CustomerLoginInfo)Session[CommonConstant.CustomerSession];
                }
                @if (session == null)
                {
                    <li><a href="/Auth"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Đăng kí tài khoản</a></li>
                    <li><a href="/Auth"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</a></li>
                }
                else
                {
                    <li>Xin chào,
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#quan-ly-tai-khoan"><strong class="text-success">@session.name</strong></a>
                            <ul class="dropdown-menu dropdown-menu-quan-ly-tk" role="menu">
                                <li role="presentation"><a role="menuitem" class="changecolor red-text" tabindex="-1" href="/TaiKhoan">Tài khoản của tôi</a></li>
                                <li role="presentation"><a role="menuitem" class="changecolor blue-text" tabindex="-1" href="/TaiKhoan/LichSuDatHang">Lịch sử đặt hàng</a></li>
                                <li role="presentation"><a role="menuitem" class="changecolor dark-green-text" tabindex="-1" href="/Auth/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a></li>
                            </ul>
                        </li>
                    </li>
                }
                
            </ul>
        </div><!-- /.col -->
    </div><!-- /.container -->
</nav><!-- /.top-bar -->

<header>
    <div class="container no-padding">

        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo">
                <a href="/">
                    <img alt="logo" src="~/assets/client/image1/logo.png" width="248" height="70"/>
                </a>
            </div><!-- /.logo -->
            <!-- ============================================================= LOGO : END ============================================================= -->
        </div><!-- /.logo-holder -->
        <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder no-margin">
            <div class="contact-row">
                <div class="phone inline">
                    <i class="fa fa-phone"></i> (+84) 123 456 7890
                </div>
                <div class="contact inline">
                    <i class="fa fa-envelope"></i> <span class="le-color">mediacenter</span>@@da2.huflit
                </div>
            </div><!-- /.contact-row -->
            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
                <form>
                    <div class="control-group">
                        <input class="search-field" placeholder="Tìm kiếm sản phẩm..." />
                        <ul class="categories-filter animate-dropdown">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="category-grid.html">Tìm nhanh</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Laptop</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PC</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Phụ kiện</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="search-button" href="#"></a>
                    </div>
                </form>
            </div><!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= -->
        </div><!-- /.top-search-holder -->
        <div class="col-xs-12 col-sm-12 col-md-3 top-cart-row no-margin">
            <div class="top-cart-row-container">
                <div class="wishlist-compare-holder">
                    
                </div>

                <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                @{Html.RenderAction("CartDropdown", "Cart");}
            </div><!-- /.top-cart-row-container -->
            <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
        </div><!-- /.top-cart-row -->
    </div><!-- /.container -->
</header>
<!-- ============================================================= HEADER : END ============================================================= -->		