﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Đồ án 2 | HUFLIT | 2017">
    <meta name="author" content="SkyHuflit">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>MediaCenter | @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/client/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/client/css/main.css">
    <link rel="stylesheet" href="/assets/client/css/navy.css">
    <link rel="stylesheet" href="/assets/client/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/client/css/owl.transitions.css">
    <link rel="stylesheet" href="/assets/client/css/animate.min.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/client/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/client/image1/favicon.ico">
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="wrapper">
        @RenderPage("_Header.cshtml")
        @RenderPage("_Menu.cshtml")
        @RenderBody()
        @RenderPage("_Footer.cshtml")

    </div><!-- /.wrapper -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/assets/client/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/client/js/jquery-migrate-1.2.1.js"></script>
    <script src="/assets/client/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/assets/client/js/gmap3.min.js"></script>
    <script src="/assets/client/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/client/js/owl.carousel.min.js"></script>
    <script src="/assets/client/js/css_browser_selector.min.js"></script>
    <script src="/assets/client/js/echo.min.js"></script>
    <script src="/assets/client/js/jquery.easing-1.3.min.js"></script>
    <script src="/assets/client/js/bootstrap-slider.min.js"></script>
    <script src="/assets/client/js/jquery.raty.min.js"></script>
    <script src="/assets/client/js/jquery.prettyPhoto.min.js"></script>
    <script src="/assets/client/js/jquery.customSelect.min.js"></script>
    <script src="/assets/client/js/wow.min.js"></script>
    <script src="/assets/client/js/scripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/controller/ajaxCart.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#sontungmtp').on('click', function () {
                $(this).hide();
            })
        });
    </script>
    @RenderSection("js", false)
</body>
</html>