﻿<!-- ========================================= NAVIGATION ========================================= -->
<nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
    <div class="container">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Laptop</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "DanhMuc", new { alias = "laptop-asus" })">Laptop Asus</a></li>
                            <li><a href="@Url.Action("Index", "DanhMuc", new { alias = "laptop-hp" })">Laptop HP</a></li>
                            <li><a href="@Url.Action("Index", "DanhMuc", new { alias = "laptop-dell" })">Laptop Dell</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">PC Computer</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "DanhMuc", new { alias = "pc-asus" })">PC Asus</a></li>
                            <li><a href="@Url.Action("Index", "DanhMuc", new { alias = "pc-lenovo" })">PC Lenovo</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Phụ kiện</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "DanhMuc", new { alias = "pk-soundmax" })">Loa Soundmax</a></li>
                            <li><a href="#" class="disabled">Đang cập nhật</a></li>
                        </ul>
                    </li>
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</nav><!-- /.megamenu-vertical -->
<!-- ========================================= NAVIGATION : END ========================================= -->
<!-- ============================================================= HEADER : END ============================================================= -->