﻿@model DA2.Data.Model.CUSTOMER

@{
    ViewBag.Title = "Chi tiết khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<article class="content forms-page">
    <div class="title-block">
        <h1 class="title">
            Khách hàng <strong>@Html.DisplayFor(model => model.name)</strong>
        </h1>
    </div>
    <div class="col-md-12">
        <div class="card card-block sameheight-item">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    <label class="control-label">Tên khách hàng</label>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control underlined" } })

                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control underlined", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control underlined", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Số điện thoại</label>
                    @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control underlined", @type = "number" } })
                    @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Địa chỉ</label>
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control underlined"} })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success btn-lg" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "Customer")">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về danh sách</span>
        </a>
    </div>
</article>
