﻿@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Quản Lý Sổ Tiết Kiệm | #TK04</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/assets/admin/css/vendor.css">
    <!-- Theme initialization -->
    <link rel="stylesheet" href="/assets/admin/css/app-red.css">
    <link rel="stylesheet" href="/assets/admin/datatables/datatables.min.css" />
</head>
<body>
    <div class="main-wrapper">
        <div class="app" id="app">
            @{Html.RenderPartial("Alert");}
            @RenderPage("Header.cshtml")
            @RenderPage("Sidebar.cshtml")
            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            @RenderBody()
            @RenderPage("Footer.cshtml")
        </div>
    </div>

    <script src="/assets/admin/js/vendor.js"></script>
    <script src="/assets/admin/js/app.js"></script>
    <!-- Datatables -->
    <script src="/assets/admin/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/admin/datatables/datatables.min.js"></script>

    <script src="~/assets/admin/js/myJS.js"></script>

    <script>
        $(function () {
            var url = window.location;
            // Will only work if string in href matches with location
            $('ul.nav a[href="' + url + '"]').parent().addClass('active');
            $('ul.nav a[href="' + url + '"]').addClass('active');

            // Will also work for relative and absolute hrefs
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).parent().addClass('active').parent().parent().addClass('active');
        });
    </script>
    @RenderSection("js", false)
</body>
</html>