﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Staff", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <li class="profile dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="img" style="background-image: url('/Assets/Admin/assets/faces//8.jpg')"> </div> <span class="name">
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </span>
            </a>

            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-power-off icon"></i>
                    Đăng xuất
                </a>
            </div>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Staff", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
