﻿<header class="header">
    <div class="header-block header-block-collapse hidden-lg-up">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="header-block header-block-search hidden-sm-down disabled">
        <span class="text-gray-dark">. . .</span>
    </div>
    <div class="header-block header-block-buttons">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert @TempData["AlertType"] mb-0 hide" id="alert-box">
                @TempData["AlertMessage"]
            </div>
        }
    </div>
    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="notifications new">
                <a href="" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <sup>
                        <span class="counter">1</span>
                    </sup>
                </a>
                <div class="dropdown-menu notifications-dropdown-menu">
                    <ul class="notifications-container">
                        <li>
                            <a href="" class="notification-item">
                                <div class="img-col">
                                    <div class="img" style="background-image: url('/Assets/Admin/assets/faces/st.jpg')"></div>
                                </div>
                                <div class="body-col">
                                    <p> <span class="accent">BETA</span>: Tính năng này<span class="accent"> đang được hoàn thiện</span>. Vui lòng chờ...</p>
                                </div>
                            </a>
                        </li>

                    </ul>
                    <footer>
                        <ul>
                            <li>
                                <a href="#">
                                    View All
                                </a>
                            </li>
                        </ul>
                    </footer>
                </div>
            </li>
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</header>