﻿<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <strong><i class="fa fa-angle-right"></i> mediaCenter</strong>
        </div>
        <nav class="menu">
            <ul class="nav metismenu" id="sidebar-menu">
                {
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Dashboard")">
                            <i class="fa fa-home"></i> Dashboard
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Product")">
                            <i class="fa fa-th-large"></i> Quản lý Sản phẩm
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Brand")">
                            <i class="fa fa-desktop"></i> Quản lý Hãng
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Category")">
                            <i class="fa fa-shopping-bag"></i> Quản lý Loại hàng
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Customer")">
                            <i class="fa fa-certificate"></i> Quản lý Khách hàng
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Shipment")">
                            <i class="fa fa-plus-square"></i> Nhập hàng
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý") || User.IsInRole("Nhân viên"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Bill")">
                            <i class="fa fa-table"></i> Quản lý Hóa đơn
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Role")">
                            <i class="fa fa-table"></i> Quản lý quyền hạn
                        </a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Quản lý"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Staff")">
                            <i class="fa fa-table"></i> Quản lý nhân viên
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>
