﻿@model DA2.Data.Model.CUSTOMER
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="blog" class="inner-bottom-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar blog-sidebar">
                    <div class="widget">
                        <h4>Tài khoản của tôi <i class="fa fa-child" aria-hidden="true"></i></h4>
                        <div class="body">
                            <ul class="le-links">
                                <li><a href="/TaiKhoan">Cập nhật tài khoản</a></li>
                                <li class="tk-active"><a href="/TaiKhoan/DoiMatKhau">Mật khẩu</a></li>
                                <li><a href="/TaiKhoan/LichSuDatHang">Lịch sử đặt hàng</a></li>
                            </ul><!-- /.le-links -->
                        </div>
                    </div><!-- /.widget -->
                </aside><!-- /.sidebar .blog-sidebar -->
            </div><!-- /.col -->

            <div class="col-md-9">
                Đang cập nhật...
                @*<section class="section register inner-left-xs">
                    <h4 class="text-success">@ViewBag.Success</h4>
                    <br />
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "cf-style-1" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.email)
                        @Html.HiddenFor(model => model.password)

                        <div class="field-row">
                            @Html.LabelFor(model => model.email)
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "le-input", @disabled = "true" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div><!-- /.field-row -->
                        <div class="field-row">
                            <label>Họ và tên</label>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "le-input" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div><!-- /.field-row -->
                        <div class="field-row">
                            <label>Số điện thoại</label>
                            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "le-input" } })
                            @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                        </div><!-- /.field-row -->
                        <div class="field-row">
                            <label>Địa chỉ</label>
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "le-input" } })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </div><!-- /.field-row -->
                        <div class="buttons-holder">
                            <button type="submit" class="le-button huge">Cập nhật</button>
                        </div><!-- /.buttons-holder -->
                    }
                </section><!-- /.register -->*@
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /.inner-bottom-xs -->
