﻿@model IEnumerable<DA2.Data.Model.PRODUCT>

@{
    ViewBag.Title = "Danh mục Sản phẩm";
}

<article class="content static-tables-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-10">
                <h1 class="title"> @ViewBag.Title </h1>
                <p class="title-description"> Danh sách các sản phẩm của cửa hàng </p>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Create")" class="btn btn-lg btn-info">Thêm mới <i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <section class="example">
                    <div class="table-responsive">
                        <table id="table-data" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Brand</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng tồn</th>
                                    <th>Tình trạng</th>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
                                    {
                                        <th><i class="fa fa-cogs"></i></th>
                                    }
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        <td><img src="~/ProductImages/@item.image" width="65px"/></td>
                                        <td>
                                            <strong class="text-danger">@item.name</strong><br />
                                            <small class="text-muted"><a href="#" target="_blank">@item.alias</a></small>
                                        </td>
                                        <td>@item.BRAND.name</td>
                                        <td>@Html.DisplayFor(model => item.price) VNĐ</td>
                                        <td>@item.stock cái</td>
                                        <td>
                                            @{
                                                var tt = item.deleted;
                                                if (tt == true)
                                                {
                                                    <p class="btn btn-oval btn-primary">Đã bị xóa</p>
                                                }
                                                else
                                                {
                                                    <p class="btn btn-oval btn-info">Đang sử dụng</p>
                                                }
                                            }
                                        </td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
                                        {
                                            <td>
                                                <div class="btn-group">
                                                    <a href="/Admin/Product/Edit/@item.id" class="btn btn-warning btn-sm">Sửa</a>
                                                    @using (Html.BeginForm("Delete", null, new { @id = @item.id }, FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelete" data-name="sản phẩm">Xóa</a>
                                                    }
                                                </div>
                                            </td>
                                        }
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>