﻿@model DA2.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Thêm mới Nhân viên";
}

<article class="content forms-page">
    <div class="title-block">
        <h1 class="title">
            @ViewBag.Title
        </h1>
    </div>
    <div class="col-md-12">
        <div class="card card-block sameheight-item">
            @using (Html.BeginForm("Create", "Staff", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label">Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Mật khẩu</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Nhập lại mật khẩu</label>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm mới" class="btn btn-success btn-lg" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "Staff")">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về danh sách</span>
        </a>
    </div>
</article>