﻿@model DA2.Web.Models.ApplicationUser

@{
    ViewBag.Title = "Chỉnh sửa nhân viên";
}

<article class="content forms-page">
    <div class="title-block">
        <h1 class="title">
            Nhân viên <strong>@Html.DisplayFor(model => model.UserName)</strong>
        </h1>
    </div>
    <div class="col-md-12">
        <div class="card card-block sameheight-item">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="control-label">Tên tài khoản</label>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Số điện thoại</label>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success btn-lg" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "Staff")">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về danh sách</span>
        </a>
    </div>
</article>