﻿@model DA2.Web.Models.ApplicationUser

@{
    ViewBag.Title = "Chỉnh sửa quyền hạn nhân viên";
}

<article class="content forms-page">
    <div class="row">
        <div class="title-block">
            <h1 class="title">
                Nhân viên <strong>@Html.DisplayFor(model => model.UserName)</strong>
            </h1>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Các quyền hiện có:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Roles.Count > 0)
                    {
                        foreach (var item in Model.Roles)
                        {
                            <tr>
                                <td>@item.RoleId</td>
                                <td>
                                    <form action="@Url.Action("DeleteRoleFromUser", new { UserId = item.UserId, RoleId = item.RoleId })" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-xs btn-danger">Gỡ bỏ</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">
                                <p>Thành viên chưa có quyền nào</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5><strong>Thêm quyền cho thành viên này:</strong></h5>
            <form action="@Url.Action("AddToRole")" method="post">
                <input type="hidden" name="UserId" value="@Url.RequestContext.RouteData.Values["Id"]" />
                @Html.AntiForgeryToken()
                @Html.ListBox("RoleId", null, new { @class = "form-control", multiple = "multiple" })
                <div class="form-group">
                    <br />
                    <button type="submit" class="btn btn-primary">Thêm </button>
                </div>
            </form>
        </div>
    </div>
</article>