﻿@using Microsoft.AspNet.Identity.EntityFramework;

@model IdentityRole

@{
    ViewBag.Title = "Chỉnh sửa quyền hạn";
}

<article class="content forms-page">
    <div class="title-block">
        <h1 class="title">
            Quyền <strong>@Html.DisplayFor(model => model.Name)</strong>
        </h1>
    </div>
    <div class="col-md-12">
        <div class="card card-block sameheight-item">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="control-label">Tên quyền</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success btn-lg" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "Role")">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về danh sách</span>
        </a>
    </div>
</article>
