﻿@using Microsoft.AspNet.Identity.EntityFramework;

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Danh mục quyền hạn";
}

<article class="content static-tables-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-10">
                <h1 class="title"> @ViewBag.Title </h1>
                <p class="title-description"> Danh sách các quyền hạn của cửa hàng </p>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Create")" class="btn btn-lg btn-info">Thêm mới<i class="fa fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <section class="example">
                    <div class="table-responsive">
                        <table id="table-data" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên quyền</th>
                                    <th><i class="fa fa-cogs"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>
                                            <strong class="text-danger">@item.Name</strong><br/>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="/Admin/Role/Edit/@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                                                @using (Html.BeginForm("Delete", null, new { @id = @item.Id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelete" data-name="sản phẩm">Xóa</a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>