﻿@model DA2.Data.Model.BRAND

@{
    ViewBag.Title = "Chi tiết hãng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<article class="content forms-page">
    <div class="title-block">
        <h1 class="title">
            Hãng <strong>@Html.DisplayFor(model => model.name)</strong>
        </h1>
    </div>
    <div class="col-md-12">
        <div class="card card-block sameheight-item">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    <label class="control-label">Category</label>
                    @Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Tên sản phẩm</label>
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control underlined" } })
                    
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Alias</label>
                    @Html.EditorFor(model => model.alias, new { htmlAttributes = new { @class = "form-control underlined" } })
                    @Html.ValidationMessageFor(model => model.alias, "", new { @class = "text-danger" })
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-success btn-lg" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div>
        <a href="@Url.Action("Index", "Brand")">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về danh sách</span>
        </a>
    </div>
</article>
