﻿@model IEnumerable<DA2.Data.Model.BRAND>

@{
    ViewBag.Title = "Danh mục Hãng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<article class="content static-tables-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-10">
                <h1 class="title"> @ViewBag.Title </h1>
                <p class="title-description"> Danh sách các hãng của cửa hàng </p>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
            {
                <div class="col-md-2">
                    <a href="@Url.Action("Create")" class="btn btn-lg btn-info">Thêm mới <i class="fa fa-plus-circle"></i></a>
                </div>
            }
            
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <section class="example">
                    <div class="table-responsive">
                        <table id="table-data" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên hãng</th>
                                    <th>Alias</th>
                                    <th>Category ID</th>
                                    <th>Tình trạng</th>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
                                    {
                                        <th><i class="fa fa-cogs"></i></th>
                                    }
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        <td>
                                            <strong class="text-danger">@item.name</strong><br />
                                            
                                        </td>
                                        <td>@item.alias</td>
                                        <td>@item.CATEGORY.name</td>

                                        <td>
                                            @{
                                                var tt = item.deleted;
                                                if (tt == true)
                                                {
                                                    <p class="btn btn-oval btn-primary">Đã bị xóa</p>
                                                }
                                                else
                                                {
                                                    <p class="btn btn-oval btn-info">Đang sử dụng</p>
                                                }

                                            }
                                        </td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
                                        {
                                            <td>
                                                <div class="btn-group">
                                                    <a href="/Admin/Brand/Edit/@item.id" class="btn btn-warning btn-sm">Sửa</a>

                                                    <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteError" data-name="hãng">Xóa</a>

                                                </div>
                                            </td>
                                        }
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>
