﻿@model DA2.Data.Model.PRODUCT
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var randomProducts = (IEnumerable<DA2.Data.Model.PRODUCT>)ViewBag.Random;
}

<div id="single-product">
    <div class="container">
        <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
            <div class="product-item-holder size-big single-product-gallery small-gallery">
                <img src="/ProductImages/@Model.image" />
            </div><!-- /.single-product-gallery -->
        </div><!-- /.gallery-holder -->
        <div class="no-margin col-xs-12 col-sm-7 body-holder">
            <div class="body">
                <div class="title"><a href="#">@Model.name</a></div>
                <div class="brand">@Model.BRAND.name</div>
                <div class="prices">
                    <div class="price-current">Giá : @Model.price.GetValueOrDefault(0).ToString("N0") VNĐ</div>
                </div>
                <br />
                <div class="social-row">
                    <iframe src="https://www.facebook.com/plugins/like.php?href=http://tatviquyen.name.vn/&width=154&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=424471531251025" width="134" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                </div>
                <div class="excerpt">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="khuyen-mai">
                                <img src="~/assets/client/image1/gift.png" />
                                <p>@Model.gift</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bao-hanh-box">Thời gian bảo hành: @Model.warranty tháng</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qnt-holder">
                @if (Model.stock == 0)
                {

                    <a id="addto-cart" href="#" class="le-button btn-het-hang huge">Tạm hết hàng</a>
                }
                else
                {
                    <a id="addto-cart" href="/them-gio-hang?productId=@Model.id&quantity=1" class="le-button huge">Thêm Giỏ Hàng</a>
                }
            </div><!-- /.qnt-holder -->
        </div><!-- /.body -->
    </div><!-- /.body-holder -->
</div><!-- /.container -->
</div><!-- /.single-product -->
<!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
<section id="single-product-tab">
    <div class="container">
        <div class="tab-holder">

            <ul class="nav nav-tabs simple">
                <li class="active"><a href="#description" data-toggle="tab">Thông số kỹ thuật</a></li>
                <li><a href="#additional-info" data-toggle="tab">Mô tả sản phẩm</a></li>
                <li><a href="#reviews" data-toggle="tab">Đánh giá</a></li>
            </ul><!-- /.nav-tabs -->
            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    @Model.specification
                </div><!-- /.tab-pane #description -->
                <div class="tab-pane" id="additional-info">
                    @Model.description
                </div><!-- /.tab-pane #additional-info -->
                <div class="tab-pane" id="reviews">
                    <small class="text-warning">Tính năng đang phát triển <i class="fa fa-circle-o-notch fa-spin fa-fw"></i></small>
                </div><!-- /.tab-pane #reviews -->
            </div><!-- /.tab-content -->
        </div><!-- /.tab-holder -->
    </div><!-- /.container -->
</section><!-- /#single-product-tab -->
<!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->
<!-- ========================================= RECENTLY VIEWED ========================================= -->
<section id="recently-reviewd" class="wow fadeInUp">
    <div class="container">
        <div class="carousel-holder hover">

            <div class="title-nav">
                <h2 class="h1">Có thể bạn thích</h2>
                <div class="nav-holder">
                    <a href="#prev" data-target="#owl-recently-viewed" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="#next" data-target="#owl-recently-viewed" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->
            <div id="owl-recently-viewed" class="owl-carousel product-grid-holder">
                @foreach (var item in randomProducts)
                {
                    <div class="no-margin carousel-item product-item-holder size-small hover">
                        <div class="product-item">
                            <div class="ribbon blue"><span>new!</span></div>
                            <a href="@Url.Action("Index", "SanPham", new { @aliasSP = item.alias })">
                                <div class="image">
                                    <img alt="@item.name" src="/ProductImages/@item.image" />
                                </div>
                            </a>
                            <div class="body">
                                <div class="title">
                                    <a href="@Url.Action("Index", "SanPham", new { @aliasSP = item.alias })">@item.name</a>
                                </div>
                                <div class="brand">@item.BRAND.name</div>
                            </div>
                            <div class="prices">
                                <div class="price-current text-center">@item.price.GetValueOrDefault().ToString("N0")đ</div>
                            </div>
                        </div><!-- /.product-item -->
                    </div>
                }
            </div><!-- /#recently-carousel -->
        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section><!-- /#recently-reviewd -->