﻿@model IEnumerable<DA2.Data.Model.SHIPMENT>

@{
    ViewBag.Title = "Danh mục nhập hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<article class="content static-tables-page">
    <div class="title-block">
        <div class="row">
            <div class="col-md-10">
                <h1 class="title"> @ViewBag.Title </h1>
                <p class="title-description"> Danh sách các phiếu nhập hàng của cửa hàng </p>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Nhân viên"))
            {
                <div class="col-md-2">
                    <a href="@Url.Action("Create")" class="btn btn-lg btn-info">Nhập hàng <i class="fa fa-plus-circle"></i></a>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <section class="example">
                    <div class="table-responsive">
                        <table id="table-data" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ngày nhập</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng nhập</th>
                                    <th>Nhà cung cấp</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.id</th>
                                        <td>@item.date</td>
                                        <td>
                                            <strong class="text-danger">@item.PRODUCT.name</strong><br />
                                        </td>
                                        <td>@item.quantity cái</td>
                                        <td>@item.supplier</td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>